$app-bg: #E5E5E5;
$rounded-lg: 20px;
$wrapper-bg: #F5F5F5;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$checkbox-color: #585292;

$breakpoints: (
  'medium': 992px,
  'large':  1200px
) !default;